KAROTTER_USERNAME=your_username_or_email
KAROTTER_PASSWORD=your_password
KAROTTER_CLIENT_TYPE=web
KAROTTER_DEVICE_NAME=Chrome on Linux
KAROTTER_VISIBILITY=PUBLIC
KAROTTER_REPLY_RESTRICTION=EVERYONE
BTC_VS_CURRENCY=usd
POST_WITH_IMAGE=true
TZ=Asia/Tokyo
DRY_RUN=true
